


<!-- content - login -->
 <div class="container">
    <div class="border rounded p-5 bg-dark mt-2">
        <div class="row">
            <div class="col-6">
                <img width="450px" height="400px" src="https://img.freepik.com/free-vector/login-concept-illustration_114360-739.jpg" alt="">
            </div>
            <div class="col-6">
                <div class="border rounded p-5">
                    <h2 class="text-light">Login Form</h2>
                    <!-- template driven form -->
                    <form (ngSubmit)="login()" #loginForm="ngForm">
                       <div class="form-floating mb-3">
                           <input #useremail="ngModel" [(ngModel)]="email" type="email" name="email" class="form-control w-100 p-3" id="floatingInput" placeholder="name@example.com" email required>
                           <label for="floatingInput">Email Address</label>
                       </div>
                       <div *ngIf="useremail.invalid && useremail.touched"  class="text-danger fw-bolder mb-2">*Invalid Email</div>
                       <div class="form-floating mt-2 mb-3">
                         <input #userpswd="ngModel" [(ngModel)]="password" type="password" name="password" class="form-control w-100 p-3" id="floatingPassword" placeholder="Password" pattern="[a-zA-Z0-9]*" required>
                         <label for="floatingPassword">Password</label>
                       </div>
                       <div *ngIf="userpswd.invalid && userpswd.touched" class="text-danger fw-bolder mb-3">*Invalid Password</div>
                       <button [disabled]="loginForm.invalid" type="submit" class="btn btn-warning w-100">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


